@model AccountUserIndexVm
@inject UserService UserService
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
}
<h1>Users</h1>

@if (isAdmin)
{
    <a asp-action="Create">Create new user</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Country</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var accountuser in Model.AccountUser)
        {
            <td>
                @if (isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@accountuser.Id">
                        @accountuser.Name
                    </a>
                }
                else
                {
                    @accountuser.Name
                }
            </td>

            <td>@accountuser.Email</td>
            <td>@accountuser.PhoneNumber</td>
            <td>@accountuser.Country</td>

            @if (isAdmin)
            {
                <td><a href="@Url.Action("Delete", "AccountUser", new { id = accountuser.Id})">Delete</a></td>
            }
        }
    </tbody>
</table>
