@model CategoryIndexVm;
@inject UserService UserService
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
}
<h1>Category</h1>

<p>I will list all categories here</p>

@if (isAdmin)
{
    <p>
        @Html.ActionLink("Create new category", "Create")
    </p>
}

<div class="card-group">
    @foreach (var category in Model.Categories)
    {
        <div class="card">
            @*<img class="card-img-top" src="..." alt="Card image cap">*@
            <div class="card-body">
                <p class="card-title">
                    <a asp-action="Listings" asp-route-id="@category.Id">@category.Name</a>
                    @* Klicka på kategorin -> en lista av produkter i den kategorin *@
                    @* @category.Name *@

                <div>
                        @if (isAdmin)
                        {
                        <a href="@Url.Action("Delete", "Category", new {id = category.Id})">Delete</a>
                        <a href="@Url.Action("Edit", "Category", new {id = category.Id})">Edit</a>
                        }

                </div>

                </p>
            </div>
        </div>
    }
</div>

@*
<table class="table">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
@if(isAdmin)
{
<th></th>
}
</tr>
</thead>
<tbody>
@foreach (var category in Model.Categories)
{

<tr>
<td>@category.Id</td>
<td>
@if(isAdmin)
{
<a asp-action="Edit" asp-route-id="@category.Id" title="@category.Name">
@category.Name
</a>
}
else
{
<a asp-action="Edit" asp-route-id="@category.Id" title="@category.Name">
@category.Name
</a>
//@category.Name
}
</td>
<td><a href="@Url.Action("Delete", "Category", new {id = category.Id})">Delete</a></td>
@if(isAdmin)
{
<td><a href="@Url.Action("Delete", "Category", new {id = category.Id})">Delete</a></td>
}
</tr>
}
</tbody>
</table>
*@